@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-image: linear-gradient(to right, #F3B562 ,#F2EBBF );
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px  #96703d7d ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
 color:#8CBEB2 ;
 text-align: center;
 text-shadow: 1px 1px 2px #587770b8;
}

h2 {
 color:  #F06060;
}

 p {
    text-align: justify;
 }